<%= form_for(@comanda) do |f| %>
  <% if @comanda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comanda.errors.count, "error") %> prohibited this comanda from being saved:</h2>

      <ul>
      <% @comanda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :data %><br>
    <%= f.date_select :data ,:html=>{:class => "form-control"}  %>
  </div>
  <div class="form-group">
    <%= f.label :tavolo %><br>
    <%= f.number_field :tavolo ,:html=>{:class => "form-control"} %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :id_user , :value =>1%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
