<p id="notice"><%= notice %></p>

<h1>Listing Comandas</h1>

<table>
  <thead>
    <tr>
      <th>Data</th>
      <th>Tavolo</th>
      <th>Id user</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comandas.each do |comanda| %>
      <tr>
        <td><%= comanda.data %></td>
        <td><%= comanda.tavolo %></td>
        <td><%= comanda.id_user %></td>
        <td><%= link_to 'Show', comanda , class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_comanda_path(comanda), class: "btn btn-warning"  %></td>
        <td><%= link_to 'Destroy', comanda, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comanda', new_comanda_path, class: "btn btn-primary" %>
